body{
    box-sizing: border-box;
}
.container{
    display: flex ;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.color_display{
    padding: 100px 20px;
    border-radius: 20px;
    transition: ease 0.3s;
    margin-bottom: 7px;
}
.color_display p{
    font-size: 1.5em;
}
label{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 1.1em; 
}
input{
    border-radius: 7px;
    border: 2px solid grey;
    padding: 3px;
    height: 50px;
    width: 60px;
}